* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #40dd7a;
	font-size: 16px;
  line-height: 1.6;
}

p, blockquote, table {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
}

code {
	background-color: #ffffff; /* #eee */
  border: solid 1px #dddddd;
  border-radius: 3px;
  padding: 2px 5px;
}

/**************
divs
**************/

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
}

.menu {
	display: flex;
	justify-content: space-around;
	padding: 0.5em;
	font-family: Iosevka, 'Iosevka Web', monospace;
	font-weight: 600;
	text-align: center;
}

.menu div {
	padding: 0 1em;
}

.contenu {
	background-color: #ffffff; /* #40dd7a */
	flex-direction: column;
	padding: 25px;
}

.contenu img {
	border-radius: 10px;
}

.footer {
	height: 50px;
	background-color: #dd4057;
}

/**************
typo
**************/

h1, h2, h3, h4, h5, h6 {
	font-family: Iosevka, 'Iosevka Web', monospace;
}

h1 {
  font-size: 2.25em;
  padding-bottom: .3em;
  padding-top: .75em;
}
h2 {
  padding-bottom: .3em;
  font-size: 1.75em;
  padding-top: .75em;
}
h3 {
  font-size: 1.5em;
  padding-top: .5em;
}
h4 {
  font-size: 1.25em;
  padding-top: .5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
  color: #777;
}

p {
	font-family: sans-serif;
}

ul {
	list-style-type: square;
}

/**************
liens
**************/

.menu a:link {
	color: #000000;
}
.menu a:visited {
	color: #000000;
}
.menu a:hover {
	color: #ffffff;
	text-decoration: underline;
	font-weight: 800;
}
.menu a:active {
	color: #ffffff;
}


/**************
tests
**************/


.highlight {
  overflow: auto; /* pour avoir une scrollbar si ligne est trop longue */
  color: #cdcdcd;
  border-radius: 3px;
  background-color: #3c3c3c;
  padding: 10px;
}

.highlight code {
  background-color: transparent; /* pour ne pas avoir le fond de code dans .highlight */
  border: 0 none;
}

blockquote {
  border-radius: 3px;
  background-color: #edeaea;
  padding: 2px 10px 10px 30px; /* 2px en haut car c'est pas centré sinon */
  border-left: 20px solid #dddddd;
}

hr {
    height: 4px;
    margin: 16px 0;
    background-color: #cdcdcd;
    border: 0 none;
}

table {
  width: 100%;
  border: 4px solid #cdcdcd;
  border-radius: 5px;
  padding: 10px;
}

th {
  padding-bottom: 0.3em;
}

td {
  border-top: 1px solid #cdcdcd;
}

td, th {
	padding: 5px 10px;
}

.info-atelier, .liste-materiel {
	border-radius: 3px;
	padding: 0px 2em 1em 2em;
	margin-top: 1em;
}

.info-atelier {
	  background-color: #f95e5e;
}

.liste-materiel {
	background-color: #f9c646;
}

/**************
responsive
**************/

/* pour mobiles */
@media only screen and (max-width: 400px) {
  .menu {
	  background-color: #dd4057;
		flex-direction: column;
		font-size: 1.3em;
  }
	.menu div {
		padding: 0.3em 0em;
	}
	.contenu {
			padding: 1em;
	}
}

/* pour tablettes */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .menu {
    background-color: #f4dd45;
    flex-direction: row;
    align-items: center;
		font-size: 1.2em;
	}
	.contenu {
		padding: 2em;
	}
}

/* pour ordinateurs */
@media only screen and (min-width: 961px) {
  .menu {
    background-color: #4071dd;
    flex-direction: row;
		align-items: center;
		font-size: 1.1em;
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }
	.contenu {
		padding: 3em;
	}
}
