<div class="menu-tuto">
	<div class="info-tuto">
		<img height="24" width="24" src="{{ '/assets/svg/remixicon/timer-line.svg' | relative_url }}"> <p>{{ page.temps }}</p>
		<img height="24" width="24" src="{{ '/assets/svg/remixicon/filter-2-line.svg' | relative_url }}"> <p>{{ page.niveau }}</p>
		<img height="24" width="24" src="{{ '/assets/svg/remixicon/parent-line.svg' | relative_url }}"> <p>{{ page.age }}</p>
	</div>
	<div>
		<a href="{{ page.url | relative_url | replace: '/tutoriels/', '/fiches/' | replace: '.html', '-fiche.html' }}"><button class="bouton-fiche"><img height="16" width="16" src="{{ '/assets/svg/remixicon/file-list-2-line.svg' | relative_url }}"/>fiche animateur</button></a>
	</div>
</div>
