@font-face {
	font-family: 'Iosevka Web';
	font-weight: 600;
	font-style: normal;
	src: url('woff2/iosevka-semibold.woff2') format('woff2'), url('woff/iosevka-semibold.woff') format('woff'), url('ttf/iosevka-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 700;
	font-style: normal;
	src: url('woff2/iosevka-bold.woff2') format('woff2'), url('woff/iosevka-bold.woff') format('woff'), url('ttf/iosevka-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 800;
	font-style: normal;
	src: url('woff2/iosevka-extrabold.woff2') format('woff2'), url('woff/iosevka-extrabold.woff') format('woff'), url('ttf/iosevka-extrabold.ttf') format('truetype');
}
