<DOCTYPE html>
<html lang="fr">
  <head>
		<meta charset='UTF-8'/>
    <title>{{ page.titre }}</title>
		<link rel="stylesheet" href="iosevka.css">
		<link rel="stylesheet" href="styles.css">
		<script src="prefixfree.min.js"></script>
  </head>
  <body>
		<div class="conteneur-header">
			<div class="header">
				<div class="image-header"><img src=""/></div>
				<div class="titre-header">{{ page.titre }}</div>
			</div>
		</div>
    <div class="conteneur-menu">
			{% include menu.html %}
		</div>
		<div class="contenu">
			<div class="article">
			{{ content }}
			</div>
		</div>
		<div class="footer">
		</div>
  </body>
</html>
