<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8'/>
    <title>{{ page.titre }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/iosevka.css">
    <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/responsive.css'/>
    <script src="{{ site.baseurl }}/assets/js/prefixfree.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
  </head>
  <body>
    <div class='page'>
      <div class='section menu'>
        {% include menu.html %}
      </div>
      <div class='section header'></div>
      <div class='section contenu'>
				{% include menu-tuto.html %}
        <h1>{{ page.titre }}</h1>
        {{content}}
      </div>
      <div class='section footer'></div>
    </div>
  </body>
</html>
